@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500,900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main-conttainer {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
}
.card-container {
  width: 20%;
  height: 500px;
  padding: 25px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 9px 11px 9px 1px rgba(0, 0, 0, 0.75);
}
.card-img {
  border-radius: 10px;
}
.btn {
  margin: 10px;
  margin-left: 1px;
  background-color: hsl(47, 88%, 63%);
  color: black;
  padding: 5px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
}
.profile {
  display: flex;
  align-items: center;
  /* margin-top: ; */
  gap: 15px;
}
h3,
h6 {
  margin: 10px;
  margin-left: 1px;
}
h3 {
  font-weight: 800;
}
p {
  font-size: 16px;
  margin: 20px;
  margin-left: 1px;
  opacity: 0.7;
  font-weight: 500;
  line-height: 20px;
}
.profile-name {
  font-size: 16px;
}
.user-icon {
  width: 25px;
  height: 25px;
}
